<div class="text-white">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="">Productos</h2>
    <a href="/api/realtime" class="btn btn-outline-light text-white">Nuevo Producto</a>
  </div>
  <hr />

  <div class="d-flex row">
    {{#each payload}}
      <div class="card m-2" style="width: 18rem;">
        {{! <img src="..." class="card-img-top" alt="..." /> }}
        <div class="card-body">
          <h5 class="card-title"><b>{{this.title}}</b></h5>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text">${{this.price}}</p>
          <a href="#" class="btn btn-primary disable">Ver más</a>
          <a href="#" class="btn btn-primary disable mt-2">Agregar al carrito</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div>
  {{#if hasPrevPage}} <button class="btn btn-primary text-white"> <a href="/views/products?pages={{prevPage}}" class="text-white text-decoration-none">Anterior</a> </button> {{/if}}
  {{#if hasNextPage}} <button class="btn btn-primary text-white"> <a href="/views/products?pages={{nextPage}}" class="text-white text-decoration-none">Siguiente</a> </button> {{/if}}
</div>

{{! <script src="socket.io/socket.io.js"></script> }}
{{! <script src="/static/js/product.js"></script> }}