<div class="text-white">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="">Usuarios</h2>
    {{! <a href="/api/users" class="btn btn-outline-light text-white">Nuevo Usuario</a> }}
  </div>
  <hr />

  <div class="d-flex row">
    {{#each data}}
      <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><b>{{this.first_name}} {{this.last_name}}</b></h5>
          <p class="card-text">{{this.email}}</p>
          <p class="card-text">{{this.gender}}</p>
        </div>
      </div>
    {{/each}}
  </div>

  <div>
    {{#if hasPrevPage}} <button class="btn btn-primary text-white"> <a href="/users?page={{prevPage}}" class="text-white text-decoration-none">Anterior</a> </button> {{/if}}
    {{#if hasNextPage}} <button class="btn btn-primary text-white"> <a href="/users?page={{nextPage}}" class="text-white text-decoration-none">Siguiente</a> </button> {{/if}}
  </div>
</div>

{{! <script src="./static/js/index.js"></script> }}