<div class="text-white">
  <div class="d-flex justify-content-between align-items-center">
    <h2 class="">Admin - Configuración de roles </h2>
  </div>
  <hr />
  <p class="{{style}}">{{message}}</p>
  <div class="d-flex row ms-2">
    {{#each users}}
      <div class="card mt-3 me-3" style="width: 25rem;">
        <div class="pt-3">
          <h5 class="card-title"><b>Usuario:</b> {{this.first_name}} {{this.last_name}}</h5>
          <p class="card-title"><b>Email:</b> {{this.email}}</p>
          <p class="card-title"><b>Role:</b> {{this.role}}</p>
          <div class="d-flex flex-row gap-2 items-center pt-2">
            <form id="changeRolForm" action="/api/users/premium/{{this._id}}" method="put" class="">
              <input type="hidden" name="" id=""  />
              <button type="submit" class="btn btn-primary inline-block">Cambiar Rol</button>
            </form>

            <form id="changeRolForm" action="/api/users/premium/{{this._id}}" method="put" class="">
              <input type="hidden" name="email" id=""  />
              <button type="submit" class="btn btn-danger inline-block">Eliminar</button>
            </form>

          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script>
  const form1 = document.querySelector("#changeRolForm");
  form1.addEventListener("submit", checkboxClick);

  function checkboxClick(event) {
    event.preventDefault();
    console.log("hola")
    fetch()
  }


  form.addEventListener('submit', (e) => {
  const data = new FormData(form)
  const obj = []
  data.forEach((value, key) => {
    obj[key] = value
  })

  fetch('/pruebas/session', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(obj)
  })
    .then((respuesta) => respuesta.JSON.parse())
    .then((respuesta) => logger.info(respuesta))
})

</script>
